[submodule "_includes/shared"]
	path = _includes/shared
	url = https://github.com/pirati-web/partials
[submodule "_layouts"]
	path = _layouts
	url = https://github.com/pirati-web/layouts
[submodule "admin"]
	path = admin
	url = https://github.com/pirati-web/admin
