<div class="small-6 medium-3 columns">
  <nav class="c-vertical-navigation u-center-medium-only">
    <h3 class="c-vertical-navigation__title"><a href="{{ '/o-nas/' | relative_url }}">O nás</a></h3>
    <ul class="c-vertical-navigation-items">
      <li class="c-vertical-navigation__item">
        <a href="{{ '/kontakt/' | relative_url }}">Tým</a>
      </li>
      <li class="c-vertical-navigation__item">
        <a href="{{ '/program/' | relative_url }}">Program</a>
      </li>
    </ul>
  </nav>
</div>
<div class="small-6 medium-3 columns">
  <nav class="c-vertical-navigation u-center-medium-only">
    <h3 class="c-vertical-navigation__title">Připoj se</h3>
    <ul class="c-vertical-navigation-items">
      <li class="c-vertical-navigation__item">
        <a href="https://pirati.cz/pripoj-se/">Dej nám vedět</a>
      </li>
    </ul>
  </nav>
</div>
<div class="small-6 medium-3 u-mobile-down-clear columns">
  <nav class="c-vertical-navigation u-center-medium-only">
    <h3 class="c-vertical-navigation__title">Makáme</h3>
    <ul class="c-vertical-navigation-items">
      <li class="c-vertical-navigation__item">
        <a href="{{ '/blog/' | relative_url }}">Aktuality</a>
      </li>
      <li class="c-vertical-navigation__item">
        <a href="https://www.pirati.cz/pripoj-se/kalendar/">Kalendář</a>
      </li>
    </ul>
  </nav>
</div>
<div class="small-6 medium-3 columns">
  <nav class="c-vertical-navigation u-center-medium-only">
    <h3 class="c-vertical-navigation__title">Otevřenost</h3>
    <ul class="c-vertical-navigation-items">
      <li class="c-vertical-navigation__item">
        <a href="https://smlouvy.pirati.cz">Registr smluv</a>
      </li>
      <li>
      <a href="{{site.githublink}}{{ page.path }}">
          Navrhni úpravu <i class="fa fa-pencil"></i></a>
      </li>
    </ul>
  </nav>
</div>
