<footer>
  <div class="row expanded callout secondary">

    <div class="small-12 medium-6 columns text-center">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpirati.jck&tabs&width=500&height=250&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=123230281145826" width="500" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>

    <div class="small-12 medium-6 columns">
      <h5>Kontakt</h5>
      <ul>
        <li>
          Lukáš Kolářík (předseda), <a href="mailto:lukas.kolarik@pirati.cz">lukas.kolarik@pirati.cz</a>
        </li>
        <li>
          Michal Horák (lídr), <a href="mailto:Michal.horak@pirati.cz">michal.horak@pirati.cz</a>
        </li>
        <li>
          Jan Novák (volebni manager), <a href="mailto:jan.novak@pirati.cz">jan.novak@pirati.cz</a>
        </li>
      <ul>
    </div>

  </div>

  <div class="row expanded">
    <div class="medium-6 columns">
      <small>
        <ul class="menu">
          <li><a href="http://pirati.cz">Pirati.cz</a></li>
          <li> &nbsp;&nbsp;subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></li>
        </ul>
      </small>
    </div>
    <div class="medium-6 columns">
      <span style="-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-khtml-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);display:inline-block;font-size:1em">©</span> Copyleft
      Piráti, 2016. Všechna práva vyhlazena. Kopírování je aktem lásky. Obsah této stránky můžete volně šířit podle licence <a href="http://creativecommons.org/licenses/by/4.0/">Creative commons Uveďte autora 4.0</a>.
    </div>
  </div>
</footer>

<div id="back-top">
  <a href="#">&uarr; Nahoru &uarr;</a>
</div>
