---
layout: default
rbar: video, fb
---

<div class="row o-section-block o-section-block--divided">
  <div class="small-12 large-8 columns">
    <section class="o-section o-section--noSpaceBottom o-section--bigger">
      <div class="o-section-inner o-section-inner--leftBlock">
        {% for article in paginator.posts %}
        <div class="o-section-mediumdown-divided-small o-section--divided">
          {% include shared/article-list/title_article.html param='article' %}
        </div>
        {% endfor %}
      </div>
    </section>
  </div>

  <div class="medium-12 large-4 columns">
    {% include rbar.html %}
  </div>

</div>

{% include shared/article-list/pagination.html %}
