---
layout: page
rbar: video, fb
---

<div class="row o-section-block o-section-block--divided">
  <div class="small-12 columns">
    <section class="o-section o-section--noSpaceBottom o-section--bigger">
      <div class="o-section-inner o-section-inner--leftBlock">
        {% for article in paginator.posts %}
        <div class="o-section-mediumdown-divided-small o-section--divided">
          {% include shared/article-list/title_article.html param='article' %}
        </div>
        {% endfor %}
      </div>
    </section>
  </div>
</div>

{% include shared/article-list/pagination.html %}
